<!DOCTYPE html>
<html>
<head>
    <title>Contact Page</title>
</head>
<body>
    <h1>Contact Us</h1>

    <nav>
        <ul style="list-style-type: none; padding: 0;">
            <li style="display: inline; margin-right: 15px;"><a href="/">Home</a></li>
            <li style="display: inline; margin-right: 15px;"><a href="/profile">Profile</a></li>
            <li style="display: inline; margin-right: 15px;"><a href="/works">Works</a></li>
            <li style="display: inline;"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <hr>

    <h2>Contact Information</h2>
    <p>Feel free to reach out to us with any questions or inquiries!</p>
    <p><strong>Email:</strong> gaboytristan18@gmail.com</p>
    <p><strong>GitHub:</strong> <a href="https://github.com/iiTzXeno">https://github.com/iiTzXeno</a></p>


    <br>
    <a href="/">Back to Home</a>
</body>
</html>