<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
</head>
<body>
    <h1>Works</h1>
    <ul style="list-style-type: none; padding: 0;">
        <li style="display: inline; margin-right: 15px;"><a href="/works/touppercase">toUpperCase</a></li>
        <li style="display: inline; margin-right: 15px;"><a href="/works/area/circle">Area of a Circle</a></li>
        <li style="display: inline;margin-right: 15px;"><a href="/works/area/triangle">Area of a Triangle</a></li>
        <li style="display: inline; margin-right: 15px;"><a href="/works/LinkedList">Linked List</a></li>
    </ul>
</body>
</html>